#####Question 01
<p>How can I create a table in Apache Spark with a column named 'date' that contains all the dates from 1st January to 31st December?<\p>

In [0]:
from pyspark.sql.functions import col, date_add, to_date, lit

date_range_df = spark.range(0, 365).withColumn(
    "date", date_add(to_date(lit("2023-01-01")), col("id").cast("int"))
)

In [0]:
display(date_range_df)

In [0]:
%sql
SELECT
  date_add('2023-01-01', sequence) AS date
FROM
  (
    SELECT
      explode(sequence(0, 364)) AS sequence
  );